<!-- REBLOCKS -->
{{ partial "packscript" ( dict "ctx" . "config" .Site.Params.reblock.assets "module" "reblock" ) }} <!-- packs -->


<!-- BRANDLOGO -->
{{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/brandlogo/head/main.scss" ) }}        <!-- head --> 


<!-- LANGMENU -->
{{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/darkmode/head/main.js" ) }}           <!-- head --> 
{{ if .Page.Scratch.Get "reblock_darkmode" }}                                                       <!-- foot -->
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/_general/dropdown/foot.scss" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/_general/dropdown/foot.js" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/darkmode/foot/main.js" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/darkmode/foot/main.scss" ) }}
{{ end }}


<!-- LANGMENU -->
{{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/langmenu/head/main.js" ) }}           <!-- head -->
{{ if .Page.Scratch.Get "reblock_darkmode" }}                                                       <!-- foot -->
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/_general/dropdown/foot.scss" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/_general/dropdown/foot.js" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/langmenu/foot/main.scss" ) }}
{{ end }}


<!-- HAMBURGER  -->
{{ if .Page.Scratch.Get "reblock_hamburger" }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/hamburger/foot/main.scss" ) }}
{{ end }}


<!-- FOLLOWING  -->
{{ if .Page.Scratch.Get "reblock_following" }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/following/foot/main.scss" ) }}
{{ end }}