<!-- reblock cores -->
{{ partial "packscript" ( dict "ctx" . "config" .Site.Params.reblock.assets "module" "reblock" ) }}


<!-- langmenu head -->
{{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/darkmode/head/main.js" ) }} 
<!-- langmenu foot -->
{{ if .Page.Scratch.Get "reblock_darkmode" }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/_general/dropdown/foot.scss" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/_general/dropdown/foot.js" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/darkmode/foot/main.js" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/darkmode/foot/main.scss" ) }}
{{ end }}


<!-- langmenu head -->
{{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/langmenu/head/main.js" ) }} 
<!-- langmenu foot -->
{{ if .Page.Scratch.Get "reblock_darkmode" }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/_general/dropdown/foot.scss" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/_general/dropdown/foot.js" ) }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/langmenu/foot/main.scss" ) }}
{{ end }}




<!-- langmenu head -->

<!-- langmenu foot -->
{{ if .Page.Scratch.Get "reblock_hamburger" }}
    {{ partial "set-script" ( dict "ctx" . "link" "reblock/parted/hamburger/foot/main.scss" ) }}
{{ end }}