<div id="dark-mode" class="dark-mode dropdown mx-1"> 
    <div class="action flex center-x">
        {{ partial "icons" ( dict "name" "dark-mode" ) }}
        <p class="title no-mp fz-90 ml-1">{{- T "appearance_menu" -}} </p>
    </div>
    <div class="menu d-hide" data-animate-duration="2000s">
        <div class="item" data-themeset="auto"><span class="check"></span>  Automatic </div>
        <div class="item" data-themeset="dark"><span class="check"></span>  Dark Theme </div>
        <div class="item" data-themeset="light"><span class="check"></span> Light Theme </div>
    </div>
</div>