
{{ $layouts := .ctx.Site.Params.themes.darkmode.layout }}

<div id="dark-mode" class="dark-mode {{ $layouts }} dropdown mx-1 d-hide"> 
    <div class="action flex align-x">
        {{ partial "icons" ( dict "name" "dark-mode" ) }}
    </div>
    <div class="menu d-hide">
        <div class="box">
            <div class="item flex align-x" data-themeset="auto">
                <span class="check auto mr-1"></span>
                <span class="name fz-85">Automatic</span>
            </div>
            <div class="item flex align-x" data-themeset="dark">
                <span class="check dark mr-1"></span>
                <sppan class="name fz-85">Dark Theme</span>
            </div>
            <div class="item flex align-x" data-themeset="light">
                <span class="check light mr-1"></span>
                <span class="name fz-85">Light Theme</span>
            </div>
        </div>
    </div>
</div>