{{ $type := .type }}
{{ $skin := .skin }}
{{ if eq $type "brandlogo" }}
    {{ $template := print "reblock/brandlogo/" $skin }}
    {{- if templates.Exists ( print "partials/" $template  ".html" ) -}}
        {{ partial $template ( dict "ctx" .ctx  ) }}
    {{ end }}
{{ end }}


{{ if eq $type "langmenu" }}
    {{ $template := print "reblock/langmenu/" $skin }}
    {{- if templates.Exists ( print "partials/" $template  ".html" ) -}}
        {{ partial $template ( dict "ctx"  .ctx  )  }}
    {{ end }}
{{ end }}


{{ if eq $type "darkmode" }}
    {{ $template := print "reblock/darkmode/" $skin }}
    {{- if templates.Exists ( print "partials/" $template  ".html" ) -}}
        {{ partial $template ( dict "ctx"  .ctx  )  }}
        {{- .ctx.Store.Set "reblock_darkmode" true -}}
    {{ end }}
{{ end }}

