<div id="lang-menu" class="lang-menu dropdown mx-1 d-hide">
    <div class="action flex align-x">
        {{ partial "icons" ( dict "name" "translate" ) }}
    </div>
    <div class="menu d-hide">
        <div class="box">
        {{ range .ctx.Site.Home.AllTranslations }}
            {{ $class := "" }}
            {{ if eq site.Language.Lang  .Language.Lang }}{{ $class = "active" }}{{ end }}
            <a href="{{ .Permalink }}" class="item flex align-x">
                <span class="check mr-1 {{ $class }}"></span>
                <span class="name fz-85">{{ .Language.LanguageName }}</span>
            </a>
        {{ end }}
        </div>
    </div>
</div>


