.dark-mode {

    .check{
        display: block;
        width: 8px;
        height: 8px;
    }

    .title {
        margin-left: .5rem;
        color: var(--color-text-3);
    }

    .box{
        background: #fff;
        background: var(--color-back-2);
    }

    .menu[data-darkmenu="auto"] .auto,
    .menu[data-darkmenu="dark"] .dark,
    .menu[data-darkmenu="light"] .light {
        background: #0072ff;
        border-radius: 50px;
    }
}