.dark-mode {

    .check{
        display: block;
        width: 8px;
        height: 8px;
    }

    .box{
        background: #fff;
        background-color: var(--color-back-1);
    }

    .menu[data-darkmenu="auto"] .auto,
    .menu[data-darkmenu="dark"] .dark,
    .menu[data-darkmenu="light"] .light {
        background-color: #0072ff;
        border-radius: 50px;
    }
}