.lang-menu {
    .item{
        text-decoration: none;
    }
    
    .title {
        margin-left: 1rem;
        color: var(--color-text-3);
    }

    .check{
        display: block;
        width: 8px;
        height: 8px;
    }
    .check.active {
        background: #0072ff;
        border-radius: 50px;
    }
}