{{ $darks_logo := "brand/falcon.webp" }}
{{ $light_logo := "brand/falcon.webp" }}
{{ $site_title := "Falcon" }}
{{ $site_leads := "" }}

{{ if .ctx.Site.Params.site_meta.basic.logo_darks }}
    {{ $darks_logo = .ctx.Site.Params.site_meta.basic.logo_darks  }}
{{ end }}

{{ if .ctx.Site.Params.site_meta.basic.logo_light }}
    {{ $light_logo = .ctx.Site.Params.site_meta.basic.logo_light  }}
{{ end }}

{{ if .ctx.Site.Title }}
    {{ $site_title = .ctx.Site.Title  }}
{{ end }}

{{ if .ctx.Site.Params.site_meta.basic.leads }}
    {{ $site_leads = .ctx.Site.Params.site_meta.basic.leads }}
{{ end }}

{{ $layouts := .ctx.Site.Params.themes.sitelogo.layout }}


<a href="{{ site.Home.Permalink }}" class="site-logo {{ $layouts }} flex align-x">
    <figure class="box" data-logodark="{{ $darks_logo }}">
        <img fetchpriority="high" class="image" src="/{{ $light_logo }}" alt="{{ .Site.Params.title }} main logo" width="52" height="52">
    </figure>
    <div class="meta">
        {{ with $site_title }} <h1 class="title">{{ . }}</h1>{{ end }}
        {{ with $site_leads }} <p class="leads no-space">{{ . }}</p> {{ end }}
    </div>
</a>